<!--  <!DOCTYPE html>

<html>
<head>
     <title></title>
     <meta charset=utf-8 >
     <meta name="viewport" content="width=device-width,initial-scale=1" >
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/ 4.3.1/css/bootstrap.min.css">
</head>

<body>

     <form  action='/parse' enctype='multipart/form-data' method='post'>
<input type='file' name='file' class='custom-file-input' />

<input type="submit" name="Submit" value="Confirm"/>

<input  type="checkbox" class="form-check-input" id="exampleCheck1 myCheck" value='myValue'>
<label class="form-check-label" for="exampleCheck1">ToUnicode</label>
 
     </form><br><br>

<a href="/p">Parse</a>
</body>


</html>  -->










<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>

  <div class="adminBody glxavor">
    <div class="container">
      <div class="h-100">
        <div class="card">
          <div class="d1">
            <form action="/upload" enctype='multipart/form-data' method='post' >
              <div class="custom-file filUp ">
                <div class="inner"><input type="file" class="custom-file-input" id="customFile" name="filename">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              </div>

              <div class="mt-1 buttonsForDownload">
                <button type="submit" class="btn btn-light btSub">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    

  </div>




<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

</body>
</html>
