 <!DOCTYPE html>

<html>
<head>
     <title></title>
     <meta charset=utf-8 >
     <meta name="viewport" content="width=device-width,initial-scale=1" >
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

     <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

     <link rel="stylesheet" type="text/css" href="public/css/style.css">

     


</head>

<body class="adminBody">

	<div class="container">
		<div class="h-100">
			<div class="card">

				<div class="d1">
					<h5 class="fileName"><%=data%></h5>

					<div class="buttonsForDownload">
						<button type="submit" class="btn parse mt-1">Parse SQL</button>
					</div>

					<div class="buttonsForDownload">
						<button disabled type="submit" class="btn parseUnicodSql  mt-1">Make Unicode</button>
				    </div>

				    <div class="buttonsForDownload">
				    	<button type="submit" class="btn delete mt-1">Delete MDB+SQL</button>
				    </div>
	            </div>

	             <div class="downloadButton">
	             	<button class="pop mt-2 btn "></button>
	             </div>
			</div>	
		</div>	
	</div>

	 

</body>


<script type="text/javascript" src="/public/js/script.js"></script>

</html>

