body {
	font-family: sans-serif !important;
}
.pop{
	width: 70%;
	color:white;
	font-family: initial;
	background-color: rgba(0,0,0,0.3);
	font-weight: bold;
	border:1px solid white;
	
	text-align: center;
	
}
.filUp{
	display: flex;
	justify-content: center;
}
.glxavor{
	height: 100vh !important;
}
.btSub{
    width: 70%;
	color:white;
	font-family: initial;
	background-color: rgba(0,0,0,0.3);
	font-weight: bold;
	border:1px solid white;
	text-align: center;
}
.btSub:hover{
	text-decoration: none;
	background: rgba(255,255,255,0.6);
	color: #232241;
	border:none;
}
.pop>a{
	font-family: initial;
	font-size: 20px;
	letter-spacing: 1px;
	color:white;
	font-weight: bold;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: .5s;
	border-radius: 5px;
}

.d_inp{
	display: inline-block;
	background: #ffef4d;
	height: 38px;
	width: 18%;
	border-radius: 5%
}
.parse{

	width: 70%;
	color:white;
	font-family: initial;
	background-color: rgba(0,0,0,0.3);
	font-weight: bold;
	border:1px solid white;
}

.adminBody{
	background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	font-family: 'Numans', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.delete{
	width: 70%;
	color:white;
	font-family: initial;
	background-color: rgba(0,0,0,0.3);
	font-weight: bold;
	border:1px solid white;
}
.parseUnicodSql{
	width: 70%;
	color:white;
	font-family: initial;
	background-color: rgba(0,0,0,0.3);
	font-weight: bold;
	border:1px solid white;
	padding-top: 5px; 
}
.d1{
	/*margin-left: 10px;*/
	margin-top: 10px
}
.fileName{
	text-align: center;
	color:white;
}
.container{
	align-content: center;
	width: 100%;
	display: flex;
	justify-content: center;
}
.card{
	height: max-content;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.5) !important;
	padding-right: 0 !important;
	padding: 30px 0;
}
.chek{
	margin-left:10px;
	margin-top:13px
}
.chekLab{
	margin-left:30px
}
.downloadButton {
	display: flex;
	justify-content: center;
	width: 100%;

}

.downloadButton button:hover {
	border-width: 0;
	border-radius: 5px;
}
.downloadButton button{
	text-transform: capitalize;
	height: 40px;
	position: relative;
}
.buttonsForDownload {
	width: 100%;
	display: flex;
	justify-content: center;
}

.pop > a:hover {
	text-decoration: none;
	background: rgba(255,255,255,0.6);
	color: #232241;
}
.h-100 {
	height: max-content !important;
	width: max-content;
}
.inner{
	display: flex;
	justify-content: center;
	position: relative;
	width: 70%
}